.navbar {
  padding: 0;
}
.navbar > * {
  display: inline;
}

.navbar-link {
  color: inherit;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  padding: 13px 20px 7px;
}
.header > * {
  display: inline;
}

.header {
  background-color: bisque;
  padding: 5px 0;
}

.site-title {
  background-color: black;
  color: aliceblue;
  padding: 5px 10px;
}
